// @import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url(//db.onlinewebfonts.com/c/0a2bda6a452a0e2e10770717bac25392?family=AgudaBlackUnicaseW01-Rg);

@font-face {
  font-family: "AgudaBlackUnicaseW01-Rg";
  src: url("//db.onlinewebfonts.com/t/0a2bda6a452a0e2e10770717bac25392.woff2") format("woff2"),
}

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


:root {
  --Gilroy: 'Gilroy', sans-serif;
  --AgudaBlackUnicase: 'AgudaBlackUnicaseW01-Rg';
  --main-bg: #131314;
  --hero-section-color-one: #323232;
  --hero-section-color-two: #222226;
  --text-color: #ccad78;
  --white: #FFFFFF;
  --card-bg: #1E1E1E;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--main-bg);
  font-size: 1.6rem;
  line-height: 1.6;
  justify-content: center;
  padding: 1rem;
  transition: all 0.2s linear;
  line-height: 1.6;
  display: flex;
  min-height: 100vh;
  min-width: 100px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}